@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var donvi = ViewData["ttDonVi"] as List<QuannhanDonvi>;
    var chucvu = ViewData["ttChucVu"] as List<QuannhanChucvu>;

                                    var idFromViewData = ViewData["id"]; 
                                
    var numofpage = 10;

     var numofgroup = ((Model.TotalItems / Model.PageSize) + 1) / numofpage;

    // trang nay de cho viewQSDonVi C 
}
@model PagedViewModel<WebForQLQS.Models.QuanNhan>;
<div class="content-wrapper" style="min-height: 1302.32px;">

    <section class="content">

        <div class="card-header" >
            <h3 class="card-title" style="font-size: 28px ; font-weight: bold;">HỌC VIỆN KĨ THUẬT QUÂN SỰ - TIỂU ĐOÀN 1 - @ViewData["donvi"] - @Model.TotalItems Quân nhân</h3>
        </div>




        <div class="card-tools mt-2 ml-2" style="width: 340px">
            <div class="input-group input-group-sm" style="width: 350px; ">

                <form method="post" action="ViewDaiDoi">

                    <div class="input-group">
                        <!-- Tên (Name) search input -->
                        <input type="text" name="searchTerm" id="ten_search" class="form-control" placeholder="Tìm kiếm theo tên" value="@ViewBag.idsearch_ten">

                        <!-- Cấp bậc (Rank) search input -->
                        <!-- Cấp bậc (Rank) dropdown list -->
                        <select name="searchCapBac" id="capbac_search" class="form-control ml-2 mr-2">
                            <option value="" selected>Chọn cấp bậc</option>
                            <option value="Đại tá" selected="@((string)ViewBag.idsearch_capbac == "Đại tá")">Đại tá</option>
                            <option value="Thượng tá" selected="@((string)ViewBag.idsearch_capbac == "Thượng tá")">Thượng tá</option>
                            <option value="Trung tá" selected="@((string)ViewBag.idsearch_capbac == "Trung tá")">Trung tá</option>
                            <option value="Thiếu tá" selected="@((string)ViewBag.idsearch_capbac == "Thiếu tá")">Thiếu tá</option>
                            <option value="Đại úy" selected="@((string)ViewBag.idsearch_capbac == "Đại úy")">Đại úy</option>
                            <option value="Thượng úy" selected="@((string)ViewBag.idsearch_capbac == "Thượng úy")">Thượng úy</option>
                            <option value="Trung úy" selected="@((string)ViewBag.idsearch_capbac == "Trung úy")">Trung úy</option>
                            <option value="Thiếu úy" selected="@((string)ViewBag.idsearch_capbac == "Thiếu úy")">Thiếu úy</option>
                            <option value="Thượng sĩ" selected="@((string)ViewBag.idsearch_capbac == "Thượng sĩ")">Thượng sĩ</option>
                            <option value="Trung sĩ" selected="@((string)ViewBag.idsearch_capbac == "Trung sĩ")">Trung sĩ</option>
                            <option value="Hạ sĩ" selected="@((string)ViewBag.idsearch_capbac == "Hạ sĩ")">Hạ sĩ</option>
                            <option value="Binh nhất" selected="@((string)ViewBag.idsearch_capbac == "Binh nhất")">Binh nhất</option>
                            <option value="Binh nhì" selected="@((string)ViewBag.idsearch_capbac == "Binh nhì")">Binh nhì</option>
                        </select>


                        <div class="input-group-append">
                            <button class="btn btn-default" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>

                </form>


            </div>
        </div>
        <!-- /.card-header -->



      

        <style>
            .table-bordered td, .table-bordered th {
                border: 1px solid #dee2e6;
            }

                .table-bordered td:not(:last-child), .table-bordered th:not(:last-child) {
                    border-right: none;
                }
        </style>

        <section class="content mt-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title" style="font-size: 20px; font-weight: bold;">Danh sách quân nhân</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <table class="table table-striped">

                                    <h4 class="text-danger"> @ViewData["mess"] </h4>
                                    <thead>
                                        <tr>

                                            <th style="width: 40px">STT</th>
                                            <th style="width: 190px"> HỌ TÊN </th>
                                            <th style="width: 100px"> CẤP BẬC </th>
                                            <th style="width: 100px"> CHỨC VỤ </th>
                                            <th style="width: 100px"> ĐƠN VỊ </th>

                                            <th style="width: 130px"> <div style="color:lightgreen" id="real-time-clock"></div> </th>
                                            <th style="width: 40px">Trang </th>
                                            <th style="width: 40px"> @Model.CurrentPage/@(Model.TotalItems / Model.PageSize + 1)</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var (quannhan, index) in Model.Items.Select((value, i) => (value, i + (Model.CurrentPage - 1) * Model.PageSize)))
                                        {
                                            <tr>
                                                <td>@(index + 1)</td>
                                                <td>@quannhan.HoTen</td>
                                                <td>@quannhan.CapBac</td>
                                                @foreach (var item in chucvu)
                                                {
                                                    if (item.MaQuanNhan == quannhan.MaQuanNhan)
                                                    {
                                                        <td>@item.MaChucVu</td>
                                                    }

                                                }


                                                @foreach (var item in donvi)
                                                {
                                                    if (item.MaQuanNhan == quannhan.MaQuanNhan)
                                                    {
                                                        <td>@item.MaDonVi</td>
                                                    }

                                                }

                                                <td><a class=" btn btn-success" href="@Url.Action("BaovangQNd", new { id = quannhan.MaQuanNhan })">Báo vắng</a></td>

                                                <td><a class=" btn btn-primary" href="@Url.Action("ChangeQNd", new { id = quannhan.MaQuanNhan })">Sửa</a></td>



                                                @if (idFromViewData != quannhan.MaQuanNhan)
                                                {
                                                    <td>
                                                        <a class="btn btn-danger delete-btn" href="@Url.Action("DeleteQNd", new { id = quannhan.MaQuanNhan })" data-quannhan-code="@quannhan.HoTen">
                                                            Xóa
                                                        </a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <a class="btn btn-default delete-btn" href="#" data-quannhan-code="@quannhan.MaQuanNhan">Xóa</a>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
           


        <div class="pagination">
            @if (Model.CurrentPage == ((Model.TotalItems / Model.PageSize) + 1))
            {
                PagedViewModel<QuanNhan>.currencegroup = numofgroup;
            }

            @if (((Model.TotalItems / Model.PageSize) + 1) < numofpage)
            {
                for (int i = 1; i <= (Model.TotalItems / Model.PageSize) + 1; i++)
                {
                    <a class="nav-link btn-secondary @(i == Model.CurrentPage ? "active" : "")"
                       asp-route-page="@i"
                       asp-route-searchTerm="@ViewBag.idsearch_ten"
                       asp-route-searchCapBac="@ViewBag.idsearch_capbac">
                        @i
                    </a>
                }
            }
            else
            {
                if (PagedViewModel<QuanNhan>.currencegroup <= numofgroup && PagedViewModel<QuanNhan>.currencegroup >= 0)
                {
                    if (PagedViewModel<QuanNhan>.currencegroup != 0)
                    {
                        <a class="nav-link btn-secondary"
                           asp-route-page="@(Model.CurrentPage - 1)"
                           asp-route-searchTerm="@ViewBag.idsearch_ten"
                           asp-route-searchCapBac="@ViewBag.idsearch_capbac">
                            previous
                        </a>
                    }

                    for (int i = 1; i <= numofpage; i++)
                    {
                        if ((PagedViewModel<QuanNhan>.currencegroup * numofpage + i) <= ((Model.TotalItems / Model.PageSize) + 1))
                        {
                            <a class="nav-link btn-secondary @(((PagedViewModel<QuanNhan>.currencegroup * numofpage) + i) == Model.CurrentPage ? "active" : "")"
                               asp-route-page="@(PagedViewModel<QuanNhan>.currencegroup * numofpage + i)"
                               asp-route-searchTerm="@ViewBag.idsearch_ten"
                               asp-route-searchCapBac="@ViewBag.idsearch_capbac">
                                @(PagedViewModel<QuanNhan>.currencegroup * numofpage + i)
                            </a>
                        }
                    }

                    if (PagedViewModel<QuanNhan>.currencegroup != numofgroup)
                    {
                        <a class="nav-link btn-secondary"
                           asp-route-page="@(Model.CurrentPage + 1)"
                           asp-route-searchTerm="@ViewBag.idsearch_ten"
                           asp-route-searchCapBac="@ViewBag.idsearch_capbac">
                            next
                        </a>
                    }
                }
                else if (PagedViewModel<QuanNhan>.currencegroup < 0)
                {
                    PagedViewModel<QuanNhan>.currencegroup = numofgroup;
                }
            }

            <span class="text-danger nav-link">@Model.CurrentPage/@(Model.TotalItems / Model.PageSize + 1)</span>
        </div>



            </section>
            </div>

<script type="text/javascript">
    function updateClock() {
        var now = new Date();
        var hours = now.getHours();
        var minutes = now.getMinutes();
        var seconds = now.getSeconds();
        var timeString = hours + ':' + (minutes < 10 ? '0' : '') + minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
        document.getElementById('real-time-clock').innerHTML = timeString;
    }

    // Cập nhật đồng hồ mỗi giây
    setInterval(updateClock, 1000);
</script>

<script>
    var idFromViewData = '@ViewData["id"]'; // Assuming the value is a string, adjust as needed

    // Attach click event handler to all elements with class 'delete-btn'
    document.querySelectorAll('.delete-btn').forEach(function (element) {
        element.addEventListener('click', function (event) {
            // Prevent the default action (e.g., following the link)
            event.preventDefault();

            // Get the quân nhân code from the link
            var quanNhanCode = event.target.getAttribute('data-quannhan-code');

            // Show a custom alert with quân nhân code and proceed only if the user confirms
            var isConfirmed = window.confirm('Bạn có muốn xóa quân nhân ' + quanNhanCode + ' không?');

            if (isConfirmed && quanNhanCode !== idFromViewData) {
                // If confirmed and quân nhân code is not equal to idFromViewData, navigate to the delete action
                window.location.href = event.target.getAttribute('href');
            } else if (quanNhanCode === idFromViewData) {
                // If quân nhân code is equal to idFromViewData, show a message
                alert('Bạn không thể xóa quân nhân' + quanNhanCode + '.');
            }
        });
    });
</script>



